
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

body { font-family: 'Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif; }
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}
.remark-code, .remark-inline-code { font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace; }


.title-slide {
	background-color:  #b62b2b;
  background-image: url(figs/color-center-reverse-UWlogo-print.png);
	background-position: center bottom 70px;
	background-size: 30%;
	border-bottom: 0 solid  #522D80;
	box-shadow:  0 55px 0 #fff;
}

.title-slide h1 {
  margin-top: -70px;
}

.important {
  color: #b62b2b;
}


h1, h2, h3 {
  float: center;
  font-weight: normal;
  color: #b62b2b;
}

a, a > code {
  color: #b62b2b;
}
.remark-code-line-highlighted { background-color: rgba(136, 57, 138, 0.3); }

.inverse {
  background-color: #b62b2b;
}

.inverse, .inverse h1, .inverse h2, .inverse h3, .inverse a, inverse a > code {
  color: #fff;
}

.left-column2 {
  color: #777;
  width: 30%;
  height: 92%;
  float: left;
}

.left-column2 h2:last-of-type, .left-column h3:last-child {
  float: left;
  color: #000;
}

.right-column2 {
  width: 65%;
  float: right;
  padding-top: -100px;
}
